<div class="row">
    <div class="col-12">
        <%= form_with model: volunteer do |form| %>
        <div class="row mb-3">
            <%= form.label :name %>
            <div class="col-sm-6">
                <%= form.text_field :name %>
            </div>
        </div>
        <div class="row mb-3">
            <%= form.label :email %>
            <div class="col-sm-6">
                <%= form.email_field :email, required: true %>
            </div>
        </div>
        <%= form.button send_label, class: "btn btn-primary" %>
        <% end %>
        <br>
        <%= link_to "Zrušit", volunteers_path, class: "btn btn-secondary" %>
    </div>
</div>