<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="row">
        <h2 class="col-6">Dobrovolníci</h2>
        <% if is_admin? %>
          <div class="col-6 text-end">
            <%= link_to "Nový dobrovolník", new_volunteer_path, class: "btn btn-primary" %>
            <%= link_to "Importovat dobrovolníky", new_volunteer_import_path, class: "btn btn-primary" %>
          </div>
        <% end %>
        <br>
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th>
                Jméno
              </th>
              <th>
                Email
              </th>
              <th>
                Potvrzen
              </th>
            </tr>
          </thead>
          <tbody>
            <% @volunteers.each do |volunteer| %>
            <tr>
              <td>
                <%= link_to volunteer.name, volunteer_path(volunteer)  %>
              </td>
              <td>
                <%= volunteer.email %>
              </td>
              <td>
                <% if volunteer.is_confirmed %>
                    <i class="fas fa-check"></i>
                <% else %>
                    <i class="fas fa-times"></i>
                <% end %>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
