<div class="container">
    <div class="row">
        <div class="col-12">
            <h1>Vytvořit nového dobrovolníka</h1>
            <%= render "form", volunteer: @volunteer, send_label: "Vytvořit" %>
        </div>
    </div>
</div>