<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card" style="width: 18rem;">
                <% if @volunteer.deleted_at == nil %>
                    <div class="card-body">
                <% else %>
                    <div class="card-body text-secondary">
                <% end %>
                    <h1 class="card-title"> <%= @volunteer.name %> </h1>
                    <p class="card-text">
                        <%= @volunteer.email %>
                    </p>
                    <br>
                    <div class="row">
                        <% if @volunteer.deleted_at == nil %>
                            <div class="col">
                                <%= link_to "Upravit", edit_volunteer_path(@volunteer), class: "btn btn-primary" %>
                            </div>
                            <div class="col text-end">
                                <% if is_admin? && @volunteer.deleted_at == nil %>
                                    <%= link_to "Smazat", volunteer_path(@volunteer), method: :delete, data: { confirm: "Opravdu chcete označit dobrovolníka #{@volunteer.name} jako smazaného?" }, class: "btn btn-danger" %>
                                <% end %>
                            </div>
                        <% else %>
                            <div class="col">
                                <p>(Dobrovolník byl smazaný)</p>
                            </div>
                        <% end %>
                    </div>
                </div>
            </div>
            <br>
            <%= link_to "Zpět", volunteers_path, class: "btn btn-secondary" %>
        </div>
    </div>
</div>
