<div class="container">
    <div class="row">
        <div class="col-12 text-center">
            <%= form_with url: confirm_volunteers_path do |form| %>
                <%= form.hidden_field :token, value: @volunteer.token %>
                <% if @volunteer.is_confirmed %>
                    <%= form.button "Přihlásit se", class: "btn btn-primary" %>
                <% else %>
                    <%= form.label "Jméno" %>
                    <%= form.text_field :name, value: @volunteer.name, required: true%>
                    <br>
                    <br>
                    <%= form.button "Potvrdit", class: "btn btn-primary" %>
                <% end %>
            <% end %>
        </div>
    </div>
</div>