<div class="row">
    <div class="col-12">
        <%= form_with model: [@client, task] do |form| %>
        <div class="row mb-3">
            <%= form.label :task_name, class: "col-sm-2 col-form-label text-end" %>
            <div class="col-sm-6">
                <%= form.text_field :task_name, required: true, class: "form-control" %>
            </div>
        </div>
        <div class="row mb-3">
            <%= form.label :notes, class: "col-sm-2 col-form-label text-end" %>
            <div class="col-sm-6">
                <%= form.text_area :notes, required: true, class: "form-control" %>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-sm-6 offset-sm-2">
                <%= form.button "Uložit", class: "btn btn-primary" %>
            </div>
        </div>
        <% end %>
    </div>
</div>
