<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title"><%= attribute_info(@task.client, :name) %></h5>
                    <p class="card-text">
                        <%= @task.task_name %>
                        <br>
                        <%= @task.notes %>
                    </p>
                </div>
            </div>

            <div class="col-6">
                <% if @task.cancelled? %>
                    <p>Poptávka je zrušena</p>
                <% elsif @task.finished? %>
                    <p>Poptávka je hotova</p>
                <% else %>
                    <%= form_with model: [@client, @task] do |form| %>
                        <%= form.label :volunteer_id, class: "col-sm-2 col-form-label text-end" %>:
                        <%= form.select :volunteer_id, options_for_select(Volunteer.with_confirmed.ordered_by_name.map { |volunteer| [volunteer.name, volunteer.id] }, @task.volunteer_id), {include_blank: true}, class: "form-select form-select-sm" %>
                        <br>
                        <%= form.button "Aktualizovat", class: "btn btn-primary" %>
                    <% end %>
                    <br>
                    <%= button_to "Zrušit poptávku", client_task_cancel_path(@client, @task), class: "btn btn-secondary" %>
                <% end %>
            </div>
            <br>
            <%= link_to "Zpět", client_path(@client), class: "btn btn-secondary" %>
        </div>
    </div>
</div>
