<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="row">
        <h4 class="col-6"><%= title %></h4>
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th>
                Název
              </th>
              <th>
                Klient
              </th>
              <th>
                Telefon
              </th>
              <th>
                Adresa
              </th>
            </tr>
          </thead>
          <tbody>
            <% tasks.first(10).each do |task| %>
            <tr>
              <td>
                <%= link_to task.task_name, task_path(task) %>
              </td>
              <td>
                <%= task.client.name %>
              </td>
              <td>
                <%= link_to task.client.phone_number, "tel:#{task.client.phone_number}" %>
              </td>
              <td>
                <%= task.client.address %>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>