<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="row">
        <h2 class="mb-4">Poptávky</h2>
        <br>
        <%= render "task_table", tasks: @tasks_in_progress, title: "Moje poptávky" %>
        <br class="mb-4">
        <%= render "task_table", tasks: @tasks_available, title: "Dostupné poptávky" %>
      </div>
    </div>
  </div>
</div>