<div class="container">
  <div class="row">
      <div class="col-12">
            <h1>Vytvořit novou poptávku</h1>
            <%= render "form", clients: @clients, task: @task %>
        </div>
    </div>
</div>

