<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h3 class="card-title"> <%= @task.task_name %> </h3>
                    <p class="card-text">
                        <%= @task.notes %>
                    </p>
                </div>
            </div>
                <br>
                <% if @task.taken? %>
                    <% if @task.volunteer == current_user %>
                        <% if @task.cancelled? %>
                            <p>Poptávka je zrušená</p>
                        <% elsif @task.finished? %>
                            <p>Poptávka je hotová</p>
                        <% else %>
                            <%= button_to "Označit jako hotová", task_finish_path(@task), class: "btn btn-primary" %>
                        <% end %>
                    <% else %>
                        <p>Na poptávce už někdo pracuje</p>
                    <% end %>
                <% else %>
                    <%= button_to "Přijmout poptávku", task_accept_path(@task), class: "btn btn-primary" %>
                <% end %>

                <br>
                <%= link_to "Zpět", tasks_path, class: "btn btn-secondary" %>
        </div>
    </div>
</div>
