<div class="container">
    <div class="row">
        <div class="col-12">
            <h1>Importovat dobrovolníky</h1>
            <%= form_with url: volunteer_imports_path do |form| %>
            <div class="row mb-3">
                <%= form.label "Emaily" %>
                <div class="col-sm-6">
                    <%= form.text_area :emails, required: true %>
                </div>
            </div>
            <%= form.button "Odeslat", class: "btn btn-primary" %>
            <% end %>
            <br>
            <%= link_to "Zrušit", volunteers_path, class: "btn btn-secondary" %>
        </div>
    </div>
</div>