<%= form_with model: user do |form| %>
<%= form.label :name %>:
<%= form.text_field :name %>
<br>
<br>
<%= form.label :email %>:
<%= form.email_field :email %>
<br>
<br>
<%= form.label :phone_number %>:
<%= form.text_field :phone_number %>
<br>
<br>
<%= form.button %>
<% end %>
