<div class="row">
    <div class="col-12">
        <%= form_with model: client do |form| %>
        <div class="row mb-3">
            <%= form.label :name, class: "col-sm-2 col-form-label text-end" %>
            <div class="col-sm-6">
                <%= form.text_field :name, required: true, class: "form-control" %>
            </div>
        </div>
        <div class="row mb-3">
            <%= form.label :phone_number, class: "col-sm-2 col-form-label text-end" %>
            <div class="col-sm-6">
                <%= form.text_field :phone_number, required: true, class: "form-control" %>
            </div>
        </div>
        <div class="row mb-3">
            <%= form.label :address, class: "col-sm-2 col-form-label text-end" %>
            <div class="col-sm-6">
                <%= form.text_field :address, required: true, class: "form-control" %>
            </div>
        </div>
        <div class="row mb-3">
            <%= form.label :access_info, class: "col-sm-2 col-form-label text-end" %>
            <div class="col-sm-6">
                <%= form.text_area :access_info, class: "form-control" %>
            </div>
        </div>
        <div class="row mb-3">
            <%= form.label :notes, class: "col-sm-2 col-form-label text-end" %>
            <div class="col-sm-6">
                <%= form.text_area :notes, class: "form-control" %>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-sm-6 offset-sm-2">
                <%= form.button "Uložit", class: "btn btn-primary" %>
            </div>
        </div>
        <% end %>
    </div>
</div>
