<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="row">
      <h2 class="col-6">Seznam klientů</h2>
      <% if is_admin? %>
        <div class="col-6 text-end">
          <%= link_to "Nový klient", new_client_path, class: "btn btn-primary" %>
        </div>
      <% end %>
      <div>
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>
              Jméno
            </th>
            <th>
              Telefon
            </th>
            <th>

            </th>
          </tr>
        </thead>
        <tbody>
          <% @clients.each do |client| %>
          <tr class="align-middle">
            <td>
              <%= link_to client.name, client_path(client) %>
            </td>
            <td>
              <%= client.phone_number %>
            </td>
            <td class="text-end">
              <% if is_admin? %>
                <%= link_to "Přidat poptávku", new_task_path(client_id: client), class: "btn btn-primary" %>
              <% end %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>