<div class="container">
    <div class="row">
        <div class="col-12">
            <h1>Vytvořit nového klienta</h1>
            <%= render "form", client: @client %>
        </div>
    </div>
</div>
