<div class="container">
    <div class="row">
        <div class="col">
            <div class="row">
                <div class="col">
                    <h3>Poptávky:</h3>
                </div>
                <div class="col-8">
                    <%= link_to "Přidat poptávku", new_task_path(client_id: @client.id), class: "btn btn-primary" %>
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    <%= form_with url: client_path(@client), method: :get do |form| %>
                        <%= form.select :status_filter, options_for_select(Task.human_enum(:statuses)), {include_blank: true}, class: "form-select form-select-sm" %>
                    <% end %>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>
                                    Poptávka
                                </th>
                                <th>
                                    Stav
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <% @tasks.each do |task| %>
                                <tr>
                                    <td>
                                        <%= link_to task.task_name, client_task_path(@client, task) %>
                                    </td>
                                    <td>
                                        <% if task.cancelled? %>
                                            Poptávka je zrušena
                                        <% elsif task.finished? %>
                                            Poptávka je hotová
                                        <% elsif task.taken? %>
                                            Na poptávce pracuje: <%= task.volunteer.name %>
                                        <% else %>
                                            Poptávka je volná
                                        <% end %>
                                    </td>
                                </tr>
                            <% end %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title"><%= attribute_info(@client, :name) %></h5>
                    <p class="card-text">
                        <%= attribute_info(@client, :phone_number) %>
                        <br>
                        <%= attribute_info(@client, :address) %>
                        <br>
                        <%= attribute_info(@client, :access_info) %>
                        <br>
                        <br>
                        <%= "#{Client.human_attribute_name(:notes)}:" %>
                        <%= @client.notes %>
                    </p>
                </div>
            </div>
            <br>
            <%= link_to "Upravit", edit_client_path(@client), class: "btn btn-secondary" %>
        </div>
    </div>
    <%= link_to "Zpět", clients_path, class: "btn btn-secondary" %>
</div>


<script>
    const selector = document.querySelector("#status_filter");
    selector.addEventListener("change", function(){ selector.closest("form").submit() });
</script>