<% if post.errors.any? %>
<h2>These errors must be resolved</h2>
<ul>
  <% post.errors.full_messages.each do |error| %>
    <li>
      <%= error %>
    </li>
  <% end %>
</ul>
<% end %>
<%= form_with model: post do |form| %>
<%= form.label :name %>:
<%= form.text_field :name %>
<br>
<br>
<%= form.label :text %>:
<%= form.text_area :text %>
<br>
<br>
<%= form.label :user_id %>:
<%= form.select :user_id, options_for_select(User.all.map { |user| [user.name, user.id] }, post.user_id), include_blank: true %>
<br>
<br>
<%= form.button %>
<% end %>
