<h1>Index</h1>
<p>Currently there is <%= @posts.size %> posts</p>
<%= link_to "New post", new_post_path %>
<%= link_to "Users", users_path %>
<br>
<table>
  <thead>
    <tr>
      <th>
        ID
      </th>
      <th>
        Name
      </th>
      <th>
        User
      </th>
      <th>

      </th>
    </tr>
  </thead>
  <tbody>
    <% @posts.each do |post| %>
    <tr>
      <td>
        <%= post.id %>
      </td>
      <td>
        <%= post.name %>
      </td>
      <td>
        <%= post.user.name %>
      </td>
      <td>
        <%= link_to "Show", post_path(post) %>
        <%= link_to "Edit", edit_post_path(post) %>
        <%= link_to "Delete", post_path(post), method: :delete, data: { confirm: "Are you sure?" } %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
