@import "bootstrap";
@import "posts";


.page-logo {
    display: block;
    float: left;
    width: 200px;
    height: 100%;
    padding-left: 20px;
}
.page-logo .icon * {
fill: #a2c617;
-webkit-transition: fill 0.5s;
transition: fill 0.5s;
}

.navbar-volunteer {
background-color: #28323d;
}
.navbar-admin {
    background-color: #FFFFFF;
}

a {
    color: #84a013;

    &:hover {
        color: black;
    }
}

.btn-primary {
    background: #008d36;
    border-color: #008d36;

    &:hover, &:active, &:focus {
        background: #00752d;
        border-color: #00752d;
    }
    &:focus {
        box-shadow: 0 0 0 0.25rem rgba(0, 141, 54, 0.5);
    }
}