<% if is_admin? %>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
<% else %>
  <nav class="navbar navbar-expand-lg navbar-dark navbar-volunteer">
  <%= render "layouts/logo" %>
<% end %>
    <div class="container">
        <% if is_admin? %>
          <a class="navbar-brand">Život 90</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
        <% end %>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <% if is_admin? %>
              <li class="nav-item">
                <%= link_to "Klienti", clients_path, class: "nav-link #{'active' if current_page?(clients_path)}", 'aria-current': "page" %>
              </li>
              <li class="nav-item">
                <%= link_to "Dobrovolníci", volunteers_path, class: "nav-link #{'active' if current_page?(volunteers_path)}", 'aria-current': "page" %>
              </li>
              <li class="nav-item">
                <%= link_to "Nová poptávka", new_task_url, class: "nav-link #{'active' if current_page?(new_task_url)}", 'aria-current': "page" %>
              </li>
            <% elsif current_user.is_confirmed %>
              <li class="nav-item">
                <%= link_to "Poptávky", tasks_path, class: "nav-link #{'active' if current_page?(tasks_path)}", 'aria-current': "page" %>
              </li>
            <% end %>
        </div>
    </div>
</nav>